:root{
    --yellow:rgb(255,190,0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: url(../imgs/special-bg.jpg);
    font-family: open sans;
}
/* HEADER */
#header-burger{
    background: linear-gradient(rgba(0, 0, 0, 0.5)) , url(../imgs/main.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 85vh;
    padding: 100px 150px 50px 150px;
}
header h3{
    color: var(--yellow);
    font-size: 32px;
    margin-top: 20px;
}
header h1{
    color: white;
    font-size: 90px;
    margin: 30px 0 70px 0;
    line-height: 1.1;
}
header a{
    color: white;
    font-size: 20px;
    background-color:brown;
    padding: 15px 50px;
    text-decoration: none;
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition-duration: 0.5s;
}
header a:hover{
    background-color: var(--yellow);
}
/* MENU */
#menu{
    display: flex;
    gap: 16px;
    position: absolute;
    top: 0;
    left: 10%;
    margin: -50px auto;
    padding: 80px 30px 30px 30px;
    list-style-type: none;
    background-color: brown;
    font-size: 20px;
    color: white;
    width: 80%;
    border-radius: 40px;
}
#menu-icon-insta{
    margin-right: 70px;
}
#li4{
    margin: 0 70px;
}
#menu a:last-child{
    margin-left: auto;
}
#menu i{
    font-size: 22px;
    margin-top: 3px;
}
#menu a{
    text-decoration: none;
    color: white;
}
#li1 a, #li4 a{
    color: var(--yellow);
}
#menu li a:hover{
    color: var(--yellow);
}
#menu>a:hover{
    color:rgb(190, 190, 190);
}
#menu-dropdown{
    position: absolute;
    list-style-type: none;
    background-color: rgb(110, 30, 30);
    color: white;
    padding: 10px;
    border-radius: 10px;
    display: none;
    font-size: 18px;
    width: 120px;
    line-height: 2;
}
#li6{
    position: relative;
}
#li6:hover #menu-dropdown{
    display: block;
}
/* MAIN */
main{
    margin: 0 auto;
}
          /* SECTION 1 */
#section1{
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin: 0 auto;
    padding: 0 20px;
}
#background-section1{
    width: 100%;
    padding: 60px 0;
    background-color: white;
}
#section1 div{
    padding: 20px 0;
    width: 20%;
}
#section1 div:hover{
    border: 1px solid var(--yellow);
    border-radius: 10px;
}
#section1 img{
    width: 60%;
    margin: 0 20%;
}
#section1 p{
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
}
          /* SECTION 2 */
#section2{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin: 70px auto;
}
#section2 div{
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
    height: 100%;
}
#section2-box1{
    background-image: url(../imgs/special-01.jpg);
    width: 49%;
    height:100%;
}
#section2-box2{
    background-image: url(../imgs/special-02.jpg);
    margin-bottom: 20px;
    width: 100%;
    height: 49%;
}
#section2-box3{
    background-image: url(../imgs/special-03.jpg);
    width: 100%;
    height: 49%;
}
.section2-box{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    border-radius: 30px;
}
.section2-box h3{
    font-size: 46px;
    line-height: 1;
}
.section2-text{
    font-size: 16px;
    padding: 20px 0;
}
.section2-price{
    font-size: 30px;
    color: var(--yellow);
}
#section2-box1 a{
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition-duration: 0.5s;
}
#section2-box1 a:hover{
    background-color: var(--yellow);
}
#section2-box1 p:last-child{
    margin-top: 60px;
}
#section2-box1 article{
    padding: 100px 0 150px 50px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}
#section2-box2 article , #section2-box3 article{
    padding: 35px 0 35px 50px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 30px;
}
          /* SECTION 3 */
#background-section3{
    background-color: white;
    padding: 70px 10%;
}
#section3{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#section3 img{
    width: 48%;
}
#section3 article{
    flex-direction: column;
    width: 35%;
    padding: 50px 0;
    margin-left: 100px;
}
#section3 article h4{
    font-size: 24px;
}
#section3 article h2{
    font-size: 36px;
    padding: 30px 0;
    text-transform: uppercase;
}
#section3 article a{
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition-duration: 0.5s;
}
#section3 a:hover{
    background-color: var(--yellow);
}
#section3 article p:last-child{
    margin-top: 40px;
}
          /* SECTION 4 */
#section4{
    background-image: url(../imgs/delivery.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 80px 10%;
}
#section4 h4{
    font-size: 30px;
    color: brown;
    text-shadow: 3px 3px 5px black;
}
#section4 h2{
    width: 50%;
    font-size: 80px;
    text-transform: uppercase;
    line-height: 1.1;
    padding: 10px 0;
    margin: 0 auto;
}
#section4 a{
    text-decoration: none;
    background-color: brown;
    color: white;
    padding: 10px 35px;
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition-duration: 0.5s;
}
#section4 a:hover{
    background-color: var(--yellow);
}
#section4 p:last-child{
    margin-top: 50px;
}
          /* SECTION 5 */
#section5{
    background-color: var(--yellow);
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 20px 0;
    color: white;
    text-shadow: 3px 3px 5px black;
}
#section5 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
}
#section5 span{
    margin: 0 auto;
    font-size: 48px;
    font-weight: bolder;
}
#section5 p{
    text-align: center;
    font-size: 20px;
}
          /* SECTION 6 */
#background-section6{
    background-color: white;
    padding: 70px 10%;
}
#section6{
    width: 100%;
    display: flex;
    justify-content: center;
}
#section6 img{
    margin: 50px 0;
    width: 60%;
}
#section6 article{
    flex-direction: column;
    width: 35%;
    padding: 30px 10px 0 30px;
    margin: 30px 0;
    background-color: brown;
    color: white;
    border-radius: 20px;
}
#section6 article h2{
    font-size: 32px;
    margin: 35px 0;
    text-transform: uppercase;
    font-weight: 900;
}
#section6 article h4{
    font-size: 16px;
    margin: 5px 0;
    font-weight: 900;
}
#section6 article p{
    font-size: 14px;
    margin-bottom: 25px;
    color: rgb(220,220,220);
}

          /* SECTION 7 */
#section7{
    background-color: rgb(240, 240, 240);
    padding: 70px 0;
}
#section7>h2,#section7>h4,#section7>p{
    text-align: center;
    font-size: 20px;
}
#section7>h2{
    font-size: 44px;
    margin: 10px 0;
    text-transform: uppercase;
}
#section7>h4{
    font-size: 32px; 
    color: brown;   
}
#section7>p{
    font-size: 20px;
    margin-bottom: 30px;   
}
#section7-item{
    width: 80%;
    margin:0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#section7 article{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 49%;
    padding: 10px 30px;
    margin:  10px 0;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(150, 150, 150, 0.4);
}
#section7 article:hover{
    border-color: var(--yellow) ;
}
#section7 img{
    width: 42%;
    height: 90%;
}
#item1 img{
    width: 40%;
    margin-left: 10px;
}
#item5 img{
    width: 36%;
    height: 70%;
    margin-left: 20px;
}
#item6 img{
    width: 22%;
    height: 70%;
    margin-left: 50px;
}
#section7 div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 20px 0;
}
#section7 div h4{
    font-size: 24px;
}
.section7-price{
    font-size: 24px;
    color: brown;
    margin: 15px 0;
    font-weight: 900;
}
.section7-text{
    color: rgb(120, 120, 120);
}
#section7 a{
    font-size: 18px;
    text-decoration: none;
    color: black;
    transition-duration: 0.3s;
}
#section7 a:hover{
    font-weight: bolder;
    color: var(--yellow);
}
#section7 div p:last-child{
    margin-top: 15px;
}
          /* SECTION 8 */
#section8{
    background-image: url(../imgs/delivery2.png);
    background-size: cover;
    background-position: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    color: white;
}
#section8 h4{
    font-size: 42px;
    color: brown;
    text-shadow: 3px 3px 10px black;
}
#section8 h2{
    width: 100%;
    font-size: 72px;
    padding: 30px 15% 70px;
}
#section8 a{
    text-decoration: none;
    padding: 15px 20px;
    color: white;
    background-color: brown;
    border-radius: 10px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    transition-duration: 0.5s;
}
#section8 a:hover{
    background-color: var(--yellow);
}
          /* SECTION 9 */
#section9{
    padding: 70px 0;
}
#section9>h2,#section9>h4,#section9>p{
    text-align: center;
    font-size: 20px;
}
#section9>h2{
    font-size: 44px;
    margin: 10px 0;
    text-transform: uppercase;
}
#section9>h4{
    font-size: 32px; 
    color: brown;   
}
#section9>p{
    font-size: 20px;
    margin-bottom: 30px;   
}
#section9-item{
    width: 80%;
    margin:0 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
#section9 article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 49%;
    padding: 10px 30px;
    margin:  10px 0;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 3px rgba(150, 150, 150, 0.4);
}
#section9 p{
    font-size: 18px;
}
#section9 img{
    width: 30%;
    height: 90% ;
    border-radius: 100px;
}
#section9 div{
    width: 70%;
    height: 100px;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
#section9 div h4{
    width: 100%;
    font-size: 26px;
    padding: 0 20px;
    color: brown;
}
          /* SECTION 10 */
#background-section10{
    background-color: white;
    padding: 70px 10%;
}
#section10{
    width: 100%;
    display: flex;
    justify-content: start;
    gap: 50px;
}
#section10 img{
    width: 30%;
    margin: 40px 0;
}
#section10 article{
    flex-direction: column;
    width: 55%;
    padding: 50px 0;
}
#section10 article h4{
    font-size: 28px;
    color: brown;
}
#section10 article h2{
    font-size: 42px;
    padding: 30px 0;
    text-transform: uppercase;
}
#section10 article p{
    margin-top: 30px;
}
          /* SECTION 11 */
#section11{
    background-color: brown;
    padding: 50px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#section11 h4{
    font-size: 30px;
    color: white;
}
#section11 a{
    text-decoration: none;
    padding: 15px 20px;
    font-size: 24px;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    background-color: var(--yellow);
    border-radius: 10px;
    transition-duration: 0.5s;
}
#section11 a:hover{
    background-color: white;
    color: black;
}
/* FOOTER */
footer{
    background-color: rgb(240,240,240);
    height: 50vh;
    display: block;
}
#footer-main{
    margin: 70px 10%;
    display: flex;
    justify-content: space-between;
}
#footer-main div{
    width: 23%;
}
#footer-main div h4{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 20px;
}
#footer-contact p{
    font-size: 14px;
    margin-bottom: 20px;
}
#contact1{
    color: gray;
}
#footer-working ul{
    font-size: 20px;
    line-height: 1.5;
    list-style-position: inside;
    color: rgb(150, 150, 150);
}
#footer-help{
    display: flex;
    flex-direction: column;
    align-items: start;
}
#footer-help a{
    text-decoration: none;
    margin-bottom: 10px;
    color: black;
    font-size: 18px;
}
#footer-help a:hover{
    color: brown;
    text-decoration: underline;
}
#footer-getintouch a{
    font-size: 28px;
    color: white;
    background-color: brown;
    padding: 5px;
    margin-right: 10px;
    border-radius: 10px;
    transition-duration: 0.3s;
}
#footer-getintouch a:hover{
    background-color: var(--yellow);
}
#footer-bottom{
    padding: 20px 10%;
    font-size: 20px;
    display: flex;
    justify-content: end;
}
#footer-bottom-text{
    margin-right: auto;
}
#footer-bottom a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
#page-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 24px;
    padding: 15px;
    border-radius: 50px;
    text-rendering: auto;
}
#page-up:hover{
    background-color: black;
}